<nav class="navbar navbar-fixed-top navbar-light bg-faded">
    <div class="container">
        <ul class="nav navbar-nav">
            <li>
                <a routerLink="/home">Home</a>
            </li>
            <li>
                <a routerLink="/documents">Documents</a>
            </li>
            <li>
                <a routerLink="/proposals">Proposals</a>
            </li>
            <li>
                <a routerLink="proposals/new">New Proposal</a>
            </li>
        </ul>
    </div>
</nav>

<hr>
<h1> Home </h1>

<router-outlet></router-outlet>