<style>
    .active {
        color: gray;
    }
</style>

<nav class="navbar  navbar-fixed-top navbar-light bg-faded nav-styles">
    <div class="container">

        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/documents" routerLinkActive="active">Docs</a>
            </li>

            <li class="nav-item">
                <div ngbDropdown class="d-inline-block dropdown-links">
                    <button class="btn btn-outline-primary" id="proposal-dropdown" ngbDropdownToggle>
                        Proposals
                    </button>
                    <div class="dropdown-menu" aria-labelledby="proposalDropdown">
                        <a class="dropdown-item" routerLink="/proposals" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Proposals</a>
                        <a class="dropdown-item" routerLink="/proposals/new" routerLinkActive="active">New proposal</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>

<div class="app-body">
    <router-outlet></router-outlet>
</div>