<h1 class="headline">{{ pageTitle }}</h1>



<div class="card" *ngFor="let i of documents">
    <img class="card-img-top" src="{{i.image_url}}" alt="Post image goes here" width="100%">

    <div class="card-block">

        <h4 class="card-title"> {{i.title}} </h4>

        <p class="card-text"> {{i.description}} </p>
        <div><a href="{{i.file_url}}" class="btn btn-lg btn-primary" title="{{i.title}}">Download File</a></div>
        <hr>
        <p class="card-text"><small class="text-muted"> Updated At : {{i.updated_at | date }}</small></p>
    </div>
</div>