<h1>Proposal List</h1>

<div class="list-group" *ngFor="let proposal of proposals">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <a routerLink="/proposal/{{proposal.id}}">{{proposal.id}} - {{proposal.customer}}</a>

            <small>Cost : ${{ proposal.hourly_rate * proposal.estimated_hours }}</small>
        </div>
        <p class="mb-1">
            Technologies : {{ proposal.tools }}
        </p>
    </a>
</div>